certifi==2022.9.24
charset-normalizer==2.1.1
docopt==0.6.2
elastic-enterprise-search==8.4.0
elastic-transport==8.4.0
elasticsearch==8.6.0
idna==3.4
pipreqs==0.4.11
PyJWT==2.6.0
python-dateutil==2.8.2
python-dotenv==0.21.0
requests==2.28.1
six==1.16.0
urllib3==1.26.12
yarg==0.1.9
bs4==0.0.1
